body,html{
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    font-family:'Lato',
    sans-serif;
    ;
    width: 100%;
    height: 100%;
}
/*
.logo img{
    width: 40px;
    margin-top: 30px;
    
}

.logo{
    display: block;
    float: left;
    padding-left: 20px;
   text-align: center;
   margin: 0;
   
}
*/

nav{
   height: 90px;
   float: left;
   position: absolute;
}


nav ul{
display: block;
float: left;
text-align: center;
height: 60px;
left: 80px;
}

nav ul li{
list-style: none;

}

nav ul li a{
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-family:Lato'
sans-serif;
margin-top: 30px;
transition: 0.3;
color: #000;
    
}

nav ul li a:hover{

}

nav,ul,li,span{
    display: block;
    margin-top: 10px;
}

h1{
text-align: center;
 font-family:Lato'
sans-serif;
text-transform: normal;
margin: 0;
padding-top: 30px;
}

.intro{
text-align: center;
font-family:Lato'
sans-serif;
text-transform: normal;
margin: 0;
}
figure{
    width: auto;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
}

figcaption,p{
text-align: center;
padding-left: 10px;
margin: 0;
font-weight: bold;
}

footer{
    align-items: center;
    font-size: 15px;
    margin: 30px 10px;
    padding-left: 30px; 
}

@media only screen and ( min-device-width:320px){
        h1,
        .intro {
    text-align:left;
    font-size: 20px;
    padding-left: 15px;
        }

     nav ul {
display: none;
        }

        figcaption,
        p {
        font-size:20px ;
        padding-left: 15px;
        }

        footer{
          font-size: 25px; 
          padding-left: 20px; 
          display: inline-block;
        }
}

@media only screen and (min-device-width:620px){
nav ul {
    display: none;
  
}

h1,
.intro{
    text-align: center;
    padding-left: 70px;
    margin-left: 90px;
    
}

@media only screen and (min-device-width:920px){
    nav ul {
        display: inline-block;

    }

      footer{
          font-size: 25px;
         text-align: center;
        padding-left: 20px;
          
      }
}
